{% extends "front.html.twig" %}
{# Appeler une fichier qui s'appelle front.html.twig qui contient le header et le footer de la notre page web #}


{# Le contenu de ma page #}
{% block contenu_page %}

    <h1 class="p-2">Bienvenue {{ users.nom }}</h1>

    <section class="row p-2">

        <p>Vous êtes {{ users.role }} et vous vous êtes connecté le {{ users.dt_connexion }}</p>    
        {# Variable | filtre #}
        <h2>Liste des {{sessions | length}} produits en session</h2>
            
            <ul class="p-2">
                {% for session in sessions %}
                    <li><b>Produit :</b> {{ session.nom }} - <b>Id :</b> {{ session.id }} - <b>PrixTTC :</b> {{ session.prix }}</li>
                {% endfor %}
            </ul>
            

    </section>

{% endblock %}